body {
    background-color: #212223;
    margin: 0;
    padding: 0;
    color: #eaedef;
}

h1 {
    color: #212223;
    margin: 5px 0;
}

.quote-display {
    background-color: black;
    padding: 20px;
    border-radius: 8px;
    font-size: 20px;
    border: 4px solid #545454;
}

input {
    color: white;
}