#container {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
}

#inner-container {
    min-width: 600px;
    min-height: 400px;
    background-color: rgb(41, 41, 41);
    border-radius: 14px;
    color: white;
    overflow: hidden;
}

#title {
    background-color: rgb(30, 30, 30);
    padding: 8px 16px;
    text-align: center;
}