<div>
  <%= component "match-status.html", matchStatus: @matchStatus %>
  <div id="player-list">
    <label for="name">What's your name?</label>
    <input type="text" id="name" placeholder="Name" />
    <button id="join-btn" type="button">Join Match</button>
  </div>
  <div id="match-input"></div>
</div>

<script type="text/javascript">
  window.matchId = "<%= @matchId %>";
</script>