<div>
  <div id="player-list">
    <%= component "player-list.html", players: ["Scott Haley", "Joe Man"] %>
  </div>
  <%= component "quote-display.html", quote: current_quote() %>

  <br>
  <input id="name" type="text" placeholder="Name" />
  <button id="join-btn">Join Room</button>
</div>
